---
import { Index } from "../__registry__/index";
import CodeBlock from "./CodeBlock.astro";
import { Icon } from "astro-icon/components";

const { name, meta } = Astro.props;

const entry = Index[name];

let description = entry.description;

let DynamicComponent;
let codeSnippet;

try {
  const module = await entry.component();
  DynamicComponent = module.default;
  codeSnippet = entry.code;
} catch (err) {
  console.error(`El componente ${name} no pudo ser cargado:`, err);
}
---

<section class="mb-10 mt-8">
  <header class="header flex items-center mb-4">
    {description && <p set:html={description} />}
    <div class="switch">
      <button type="button" class="button switch-active" data-action="preview">
        <Icon name="preview" />
      </button>
      <button type="button" data-action="code">
        <Icon name="code" />
      </button>
    </div>
  </header>
  <div class="preview">
    <div class="preview-wrapper">
      <div class="component">
        {
          DynamicComponent ? (
            <DynamicComponent />
          ) : (
            <p>Error: No se pudo cargar el componente "{name}".</p>
          )
        }
      </div>
    </div>
  </div>
  <div class="code hidden">
    <CodeBlock name={name} code={codeSnippet} meta={meta} />
  </div>
</section>

<script>
  const $switches = document.querySelectorAll(".switch");
  const $preview = document.querySelectorAll(".preview");
  const $code = document.querySelectorAll(".code");

  const SWITCH = "switch-active";
  const HIDDEN = "hidden";

  $switches.forEach(($switch, idx) => {
    $switch.addEventListener("click", (ev) => {
      const target = ev.target as HTMLElement | null;
      const btnActive = target?.closest("button") as HTMLButtonElement;

      if (!btnActive || btnActive?.classList.contains(SWITCH)) return;

      const currentActive = $switch.querySelector(`.${SWITCH}`);
      currentActive?.classList.remove(SWITCH);
      btnActive?.classList.add(SWITCH);

      if (btnActive.dataset.action === "preview") {
        $preview[idx].classList.remove(HIDDEN);
        $code[idx].classList.add(HIDDEN);
      } else if (btnActive.dataset.action === "code") {
        $preview[idx].classList.add(HIDDEN);
        $code[idx].classList.remove(HIDDEN);
      }
    });
  });
</script>
